* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/* 版心宽度 */
.w {
    width: 1226px;
    margin: 0 auto;
}

li {
    list-style: none;
}




.topBar {
    height: 42px;
    background-color: #333;
}

.topBarNav {
    background: #333;
    height: 40px;
}

.topBarNav a {
    font-size: 12px;
    line-height: 40px
}


.header {
    padding: 20px 0;
    height: 70px; 
    /* background-color: cyan; */
}

.log {
    float: left;
    width: 56px;
    height: 56px;
    background-color:darkorange;
}
.nav {
    float: left;
}
/* 因为li 是块级元素，所以需要加float */
.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    padding: 0 15px;
    line-height: 56px;
    font-size: 16px;
    color: #333;
    /* background: blue; */
}
.nav ul li a:hover {
    border-bottom: 1.5px solid darkorange;
    color:darkorange
}

.search {
    float: left;
    width: 273px;
    height: 48px;
    margin-left: 100px;
    background-color: blue;
}

.search input {
    float: left;
    width: 221px;
    height: 46px;
    border: 1px solid rgb(153, 153, 153);
    border-right: 0;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 15px;
    
}

.search button {
    float: right;
    width: 52px;
    height: 50px;
    border: 1px solid rgb(153, 153, 153);
}




