@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?saqt49");
  src: url("../fonts/icomoon.eot?saqt49#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?saqt49") format("truetype"),
    url("../fonts/icomoon.woff?saqt49") format("woff"),
    url("../fonts/icomoon.svg?saqt49#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search1:before {
  content: "\e900";
  color: #ff6700;
}

.icon-search:before {
  content: "\e986";
  color: darkcyan;
}

.icon-user:before {
  content: "\e971";
  color: #b0b0b0;
}
.icon-headphones:before {
  content: "\e910";
  color: #b0b0b0;
}
.icon-location2:before {
  content: "\e948";
}
.icon-cart:before {
  content: "\e93a";
}

.icon-whatsapp:before {
  content: "\ea93";
  color: #b0b0b0;
}

/* 通配符选择器 */
* {
  margin: 0;
  padding: 0;
}

/* 属性选择器 */
body {
  background-color: white;
}

a {
  text-decoration: none;
}

h3 {
  display: block;
}

p {
  display: block;
}

li {
  list-style: none;
}

/* class 选择器 */
/* 按钮样式 */
.btn {
  display: inline-block;
  width: 158px;
  height: 38px;
  text-align: center;
  font: size 14px;
  color: #b0b0b0;
  line-height: 38px;
  border: 1px solid #b0b0b0;
}

.btn-line-primary {
  border-color: #ff6700;
  background: #fff;
  color: #ff6700;
}

.btn-small {
  width: 187px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

/************/
/* 清除浮动方法0 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/************/

/* 版心宽度 */
.w {
  width: 1226px;
  margin: 0 auto;
}

.topBar {
  height: 42px;
  background-color: #333;
}

.topBarNav {
  background: #333;
  height: 40px;
}

.topBarNav a {
  font-size: 12px;
  line-height: 40px;
  padding-right: 15px;
  color: #fff;
}

.header {
  padding: 20px 0;
  height: 70px;
}

.log {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 23px;
  background-color: #ff6700;
  /* background:url(../images/logo.png) */
}
.nav {
  float: left;
}
/* 因为li 是块级元素，所以需要加float */
.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: 56px;
  font-size: 16px;
  color: #333;
  /* background: blue; */
}
.nav ul li a:hover {
  /* 实现下划线样式 */
  border-bottom: 1.5px solid #ff6700;
  color: #ff6700;
}

.search {
  float: left;
  /* 总宽412px */
  width: 278px;
  height: 48px;
  margin-left: 50px;
}

.search input {
  float: left;
  /* 需要减去按钮的宽度和 padding-left*/
  width: 219px;
  height: 46px;
  border: 1px solid rgb(153, 153, 153);
  border-right: 0;
  font-size: 14px;
  color: #bfbfbf;
  /* 取消轮廓线，蓝色边框 */
  outline: none;
  /* 会将盒子撑大10px */
  padding-left: 10px;
}

.search button {
  /* 设置float 消除行内块元素间的间隙 */
  float: right;
  width: 48px;
  height: 48px;
  border: 1px solid rgb(153, 153, 153);
}

.user {
  float: right;
  font-size: 14px;
  color: #666;
}

.user a {
  /* a 是行内元素没有高度，所以需要转为块元素*/
  display: block;
  line-height: 40px;
}

.popBox {
  position: absolute;
  padding: 10px;
  right: 20px;
  width: 80px;
  height: 200px;
  background-color: cyan;
  border-radius: 10px;
}

.popBox span {
  position: absolute;
  width: 0;
  height: 0;
  top: -18px;
  left: 15px;

  /* border-top: 20px solid red;
  border-right: 20px solid green;
  border-bottom: 20px solid darkblue;
  border-left: 20px solid purple; */
  border: 10px solid transparent;
  border-bottom: 10px solid cyan;

  /* 为了兼容性 */
  line-height: 0;
  font-size: 0;
}

.popBox .textarea {
  /* 取消蓝色框 */
  outline: none;
  /* 取消拖拽 */
  resize: none;
}

.user img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

/**************/
/* banner 区域**/
/**************/

.banner {
  /* background: orange; */
  margin-bottom: 20px;
}

.banner-nav {
  position: relative;
  height: 460px;
  /* top： 垂直靠上，center：水平剧中 */
  background: url("../images/banner1.webp") no-repeat top center/100%;
  /* background: pink; */
}

.subnav {
  float: left;
  width: 234px;
  height: 460px;
  background: rgba(105, 101, 101, 0.65);
}

.subnav ul {
  padding: 20px 0;
}

/* a 是行内元素没有高度，所以需要li 制定高度*/
.subnav ul li {
  height: 42px;
  line-height: 42px;
  padding: 0 20px 0 30px;
}

/* .subnav-category-item-active {
  background: #ff6700;
} */

.subnav ul li:hover {
  background-color: #ff6700;
}

.subnav ul li a {
  font-size: 14px;
  color: white;
}

.subnav ul li span {
  float: right;
}

.swipe-wrapper {
  position: relative;
  float: left;
}

.banner-button {
  position: absolute;
  /* 绝对定位可直接设置宽高 */
  width: 41px;
  height: 69px;
  top: 50%;
  margin-top: -34px;
  line-height: 69px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.next {
  right: 0;
}

.prev {
  left: 0;
  margin-left: 234px;
}

.banner-ind {
  position: absolute;
  bottom: 10px;
  background: rgba(248, 247, 247, 0.8);
  left: 50%;
  margin-left: 20px;
  border-radius: 20px;
}

/* 类选择器权重10，标签选择器为1，总：11 */
.banner-ind li {
  float: left;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 3px;
  border-radius: 50%;
}

/* 权重为 10  */
.banner-ind .selected {
  background-color: #ff6700;
}

.notice {
  /* 一个浮动都需要浮动，所以subNav也需要浮动 */
  float: right;
  /* width: 200px; */
  height: 300px;
  background: white;
  /* 浮动盒子不会外边距合并问题 */
  margin-top: 40px;
}

.notice h3 {
  text-align: center;
  line-height: 40px;
  background: #bfbfbf;
}

.notice ul h3 {
  /* text-align: center; */
  line-height: 40px;
}

.bd {
  /* background: cyan; */
  padding: 0 20px;
}

.bd ul li {
  padding: 14px 0;
  /* 设置border 会使盒子变大1px */
  border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
  font-weight: 400;
  font-size: 16px;
  color: #4e4e4e;
}

.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}

.bd .activity {
  /* a 是行内元素没有大小，需要转化为块元素 */
  display: block;
  height: 38px;
  font-size: 12px;
  color: #ff6700;
  border: 1px solid #ff6700;
  /* 水平居中 */
  text-align: center;
  /* 垂直居中 */
  line-height: 38px;
  margin-top: 10px;
  font-weight: 700;
}

/* banner bottom */
/*****************/
.banner-sub {
  /* height: 170px; */
  /* background: #888; */
  margin: 14px auto;
}

.row {
  background: lightskyblue;
}

.row-hd {
  float: left;
  width: 234px;
  height: 170px;
  /* background: pink; */
}

.row-list {
  float: left;
  /* background: cyan; */
}

.row-list ul li {
  position: relative;
  float: left;
  padding-left: 14px;
}

.banner-sub .row-list img {
  /* img是行内元素没有大小，需要转化为块元素 */
  display: block;
  width: 316px;
  height: 170px;
}

/*  */
/* 定位属性 */
/*  */
.row-list ul li em {
  /* static 静态定位（默认）
   * relative: 相对定位，相对自己的坐标系（不脱标）
   * absolute: 绝对定位，相对祖先元素（脱标），父元素没有定位是，浏览器文档为准
   * fixed: 固定定位
   * 
  */
  position: absolute;
  top: 2px;
  right: 4px;
  color: #ff6700;
}

/* Left */
.channel-list {
  /* padding: 3px; */
  /* text-align: center; */
  font-size: 12px;
  background: #5f5750;
  height: 170px;
}

.channel-list li {
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  /* background: cyan; */
}

.channel-list a {
  float: left;
  display: block;
  padding-top: 18px;
  color: #fff;
}

.channel-list img {
  /* img是行内元素没有大小，需要转化为块元素 */
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}

.channel-list-quick a {
  padding-top: 18px;
  width: 70px;
  height: 82px;
  /* background: cyan; */
}

.channel-list-quick .item {
  float: left;
  /* background: #5f5750; */
}

/***********/
/* 中间区域 */
/***********/

.container {
  /* width: 1226px; */
  margin: 0 auto;
  /* background: cyan; */
}
.main-box {
  /* ********** */
  /* 清除浮动方法1 */
  /* overflow: hidden; */
  /* ********** */

  background: #f5f5f5;
  /* 解决塌陷问题 */
  padding-top: 4px;
  padding-bottom: 26px;
}

.main-box-rd {
  /* **** <img> 标签会导致父容器<div>高度会多出3个像素.
  TODO: 解决办法？ 
  （设置为块元素）
  */
  margin: 22px auto;
}

.main-box-rd img {
  display: block;
  height: 120px;
}

.main-box-row {
  background: #f5f5f5;
  margin-bottom: 16px;
}

/* 每组标题盒子 */
.main-box-hd {
  height: 58px;
  /* background: pink; */
}
/* 每组头部文字 */
.main-box-hd .title {
  float: left;
  line-height: 58px;
  font-size: 22px;
  font-weight: 200;
  color: #333;
}

.main-box .main-box-hd .more .tab-list {
  margin: 0;
  padding: 16px 0 0;
  font-size: 16px;
}
.main-box .main-box-hd .more .tab-list li {
  float: left;
  margin: 0 0 0 30px;
  color: #424242;
}

.main-box .main-box-row .main-box-hd .more .tab-list li.tab-active,
.main-box .main-box-row .main-box-hd .more .tab-list li:hover {
  color: #ff6700;
  border-bottom: 1px solid #ff6700;
}

.more {
  float: right;
  height: 58px;
}

.more a {
  line-height: 58px;
  color: #424242;
}

.more img {
  vertical-align: text-top;
}

.main-box-bd {
  /* height: 614px; */
  margin: 0 -14px 0;
  /* background: cyan; */
}

.bd-list-hd {
  float: left;
  width: 234px;
  margin-left: 14px;
}

.bd-list-hd img {
  display: block;
  width: 100%;
  background: white;
}

/* 每行排列4个，可以让width足够大，包含最右端外边距 */
.bd-list {
  float: left;
  height: 614px;
  width: 992px;
}

.bd-list-item {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  /* background: #fff; */
}

/* 更多不规则模块 */
.bd-list-item-s {
  height: 93px;
  /* background: cyan; */
  margin-bottom: 14px;
}

.bd-list ul li {
  position: relative;
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: white;
  text-align: center;
}
.bd-list ul li em {
  position: absolute;
  top: 2px;
  right: 6px;
  color: #ff6700;
}

.bd-list ul li img {
  width: 160px;
  height: 160px;
}

.bd-list ul li a {
  color: #333;
}

.bd-list .title {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 10px 20px;
  color: #333;
}

.bd-list .desc {
  /* height: 18px; */
  font-size: 12px;
  color: #b0b0b0;
  margin: 0 10px 10px;
}

.bd-list .price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}

/* 卡片中文字公共样式 */
.bd-list .title,
.bd-list .desc {
  /* display: block; */
  text-align: center;
  /* 设置单行文本展示涉略号必须满足三个条件 */
  /* 1. 强制一行内展示文本  （默认为：normal自动换行）*/
  /* 2. 超出部分隐藏 */
  /* 3. 用省略号代替超出部分 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-box {
  background: transparent;
}

/* 单行展示省略号 */
.singleLineEllipsis {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: pink;
}

/* 多行展示省略号 */
.mutLineEllipsis {
  width: 100%;
  height: 60px;

  overflow: hidden;
  text-overflow: ellipsis;
  /* 使用伸缩盒子 */
  display: -webkit-box;
  /* 显示的文本行数 */
  -webkit-line-clamp: 2;
  /* 子元素排列方式 */
  -webkit-box-orient: vertical;
  background: darkkhaki;
}

.video-list {
  background: transparent;
}

.video-box .video-item {
  position: relative;
  float: left;
  width: 296px;
  height: 285px;
  background: #fff;
  margin-left: 14px;
  margin-bottom: 14px;
}

.mask {
  /* 隐藏遮罩 */
  display: none;
  /* 设置绝对定位，子绝父相*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.video-item:hover .mask {
  display: block;
}

.video-list .video-item:first-child {
  margin-left: 0;
}

.video-box .video-list .video-item img {
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
.video-box .video-list .video-item .title {
  width: 100%;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
  line-height: 21px;
  margin: 0 0 14px 0;
}

.video-box .video-list .video-item .desc {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #b0b0b0;
  line-height: 18px;
  margin: 0 14px;
  /* background: yellow; */
}

/***********/
/*    底部  */
/***********/

.footer-service {
  /* 行高 */
  height: 80px;
  border-bottom: 4px solid #ccc;
  /* box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); */
  /* 内容高度 */
  line-height: 80px;
}
.footer-service h4 {
  float: left;
  padding-left: 30px;
  /* background: yellow; */
}

.footer-service ul {
  float: left;
  padding-left: 30px;
}

.footer-service li {
  float: left;
}

.footer-service ul a {
  color: #616161;
  padding: 0 30px;
  font-size: 16px;
  border-left: 1px solid #ccc;
}

.footer-service ul a:hover {
  color: #ff6700;
}

.footBar-service {
  float: right;
  padding-right: 30px;
  color: darkorange;
}

a:hover {
  color: #ff6700;
}

.header-wrapper {
  background: #fff;
}

.footer {
  background: transparent;
}

.footer-link {
  padding: 40px 0;
  /* background: pink; */
}

.footer .footer-link .links {
  float: left;
}

.footer .footer-link .links dl {
  float: left;
  /* margin-right: 40px; */
  width: 160px;
}

.footer .footer-link .links dl dt {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}

.footer .footer-link .links dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer .footer-link .links a {
  color: #757575;
}

.footer .footer-link .contact {
  float: right;
  width: 240px;
  text-align: center;
  margin-right: 20px;
  border-left: 1px solid #ccc;
}

.footer .footer-link .contact p {
  font-size: 12px;
  margin: 0 0 5px 0;
}

.footer .footer-link .contact .phone {
  font-size: 22px;
  color: #ff6700;
  line-height: 1;
}

.footer .footer-link .contact .follow {
  font-size: 12px;
  margin-top: 10px;
}

.footer .footer-link .contact .follow a {
  vertical-align: middle;
}
.footer .footer-link .contact .follow img {
  width: 24px;
  height: 24px;
}

/***********/
/* 底部版权 */
/***********/
.site-info {
  padding: 30px auto;
  background: #fafafa;
  font-size: 12px;
}
.site-info .logo {
  float: left;
  /* background: blue; */
}

.site-info img {
  /* display: block; */
  width: 56px;
  height: 56px;
}

.site-info .info-text {
  float: left;
  color: #b0b0b0;
  padding-left: 20px;
}

.site-info .info-text a {
  color: #757575;
}

.site-info .slogan {
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
  height: 19px;
  color: #b0b0b0;
}

/*  */
/* fixed 右边布局 */
/*  */
.float-bar {
  position: fixed;
  bottom: 70px;
  right: 0;
  background: white;
  text-align: center;
}

.float-bar icon {
  margin: 0 auto 8px;
}

.float-bar ul li {
  width: 82px;
  border: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}

.float-bar ul li img {
  width: 30px;
  height: 30px;
}

/***********/
/* 测试样式 */
/***********/

.bd-list .test2 {
  /* float: left; */
  background-color: purple;
}
.test3 {
  /* float: left; */
  background-color: beige;
}

.test1 {
  /* width: 100px;
  height: 100px; */
  background-color: pink;
}
